* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  height: 100vh;
  background-image: url("/img/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  margin-bottom: 4rem;
  width: 100%;
}

h1 {
  text-align: center;
  font-size: 3.5rem;
  margin-bottom: -10rem;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input {
  width: 55%;
  height: 3.23rem;
  font-size: 1.6rem;
  line-height: 2.5;
}

.submit-btn {
  margin-top: 3.5rem;
  padding: 1.8rem 4.5rem;
  font-size: 1.9rem;
  border-radius: 3rem;
  border: none;
  cursor: pointer;
}

th,
a,
td {
  font-size: 1.8rem;
}

a {
  text-decoration: none;
  color: white;
}

table {
  max-width: 100px;
  min-width: 3rem;
  overflow: auto;
}
