<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <link rel="stylesheet" href="/css/styles.css">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
</head>

<body>
   <h1>URL SHRINKER</h1>
   <div class="container">

      <form action="/shortUrls" method="POST">
         <input type="url" name="fullUrl" id="fullUrl">
         <button class="submit-btn" type="submit">SHRINK!</button>
      </form>
   </div>
   <div class="table-container">

      <table class="table table-striped table-responsive">
         <thead>
            <tr>
               <th>FULL URL</th>
               <th>SHORT URL</th>
               <th>CLICKS</th>
            </tr>
         </thead>
         <tbody>
            <% shortUrls.forEach(shortUrl=> { %>
               <tr>
                  <td class="full-url"><a href="<% shortUrl.shortUrl %> ">
                        <%= shortUrl.fullUrl %>
                     </a></td>
                  <td><a href="<%= shortUrl.shortUrl %>">
                        <%= shortUrl.shortUrl %>
                     </a></td>
                  <td>
                     <%= shortUrl.clicks %>
                  </td>
               </tr>
               <% }) %>
         </tbody>
      </table>
   </div>

</body>

</html>